body{
    /*background:#111216 ;*/
    font-family:'PingFang SC','Lantinghei SC','Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',"sans-serif"!important
}
*{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
.My-logo a{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.nav-My-logo{
    width: 100%;
}
.box{
    width: 100%;
    min-width: 1200px;
    overflow: hidden;

}
.nav-header{
    height: 165px;
    width: 1200px;
    margin: 0 auto;
    /*background:rosybrown;*/
    position: relative;
    z-index: 999;
    /*border-bottom:1px #f0f0f0 solid ;*/

}
.nav-My-logo{
    width: 100%;
    height: 108px;
}
.My-logo{
    width:90%;
    position: absolute;
    left: 0%;
    top: 37px;
}
.nav-header-list{
    width: 100%;
    height: 57px;
    color: white;
    background: #e7141a;
    position: relative;
}
.My-logo a img{
    width: 19%;
    margin-left: 20px;
}
.future-logo{
   position: relative;
    top: -10px;
    left: 18px;
}
.header-list{
    width:700px  ;
    /*position: absolute;*/
    /*right:33%;*/
    height: 100%;
    color: white;
}
.header-list li{
    width: 15%;
    text-align: center;
    height: 100%;
    line-height: 100px;
    float: left;
    font-size:17px ;
    cursor: pointer;
    color: black;
    position: relative;
}
.sub-page-first{
    /*height: 55px;*/
    /*line-height: 55px;*/
    width: 80%;
    height: 30px;
    padding: 5px 5px 5px 5px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    line-height: 30px;

}
.sub-page-first:hover{
    /*color:#e71f19 ;*/
    background: #f0f0f0;
    color:black ;
}
.sub-page-firstAddclass{
    background: #f0f0f0;
    color:black ;
}
.sub-page{
    width: 90%;
    margin: 0 auto;
    min-height:55px ;
    /*background: white;*/
    /*margin-top: 20px;*/
    border-radius: 8px;
    /*color: black;*/
    color: white;
}
.sub-page-nav{
    min-height: 30px;
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    color: black;
    line-height: 30px;
    border-bottom: 1px silver dashed;
    text-align: center;
}
.nav_last{
    border-bottom: none!important;
}
.sub-page-nav:hover{
    color: black;
}
.sub-page-navH{
    display: none;
    /*overflow: hidden;*/
    position: relative;
    /*bottom: 10px;*/
    z-index: 999;
    color: black;
    background: #f0f0f0;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    top: 45px;
    padding-top:10px ;
}
.sub-page-navH div:last-child{
    border-bottom: none!important;
}
.header-list li:hover .sub-page-first{
    /*border: 1.5px solid white;*/
    background: #f0f0f0;
    color:black ;
}
.search{
    width: 240px;
    height: 38px;
    border-radius: 2px;
    background:#999999 ;
    position: absolute;
    right: 0;
    top: 38px;
    color: #d2d2d2;
}
.search-i{
    width: 90%;
    float: right;
    height: 95%;
    background: transparent;
    outline: none;
    border: none;
    text-indent: 20px;
    color: #d2d2d2;
    font-size: 16px;
    letter-spacing: 1px;
}
.search-i::placeholder{
    color: #d2d2d2;
}

#lang-switch{
    position: absolute;
    right: 13%;
    top: 35px;
    color: black;
    display: none;
    font-size: 15px;
}
#lang-switch a{
    color: black;
}
/*.My-logo img{*/
    /*width: 20%;*/
/*}*/

.food-nav{
    clear: both;
    width: 100%;
    min-width: 1200px;
    height: 380px;
    background: white;
    border-top: 1px silver solid;
}
.food-content{
    width: 1200px;
    margin: 0 auto;
    height: 330px;
    position: relative;
    color: black;
}
.text-bottom{
    width: 80%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.text-bottom ul li{
    cursor: pointer;
}
.text-bottom ul li p:hover{
    color: #810d10;
}
.text-bottom ul li:last-child{
    cursor: auto;
}
.Right-belonging{
    width: 100%;
    min-width: 1200px;
    height: 50px;
    /*background:#810d10 ;*/
    text-align: center;
    color: rgba(215,215,215,1);
    line-height: 50px;
    font-weight: 200;
    font-size: 14px!important;
}
.text-bottom ul li{
    float: left;
    width: 18%;
    text-align: center;
    font-size: 15px;
    color:black ;
    margin-top:35px ;
}
.text-bottom ul li p{
    line-height: 200%;
}
.text-bottom ul li p:nth-child(1){
    font-size: 19px;
    color: black;
}
.text-bottom ul li:nth-child(5){
    text-align: left;
    width: 22%;
    margin-left: 4%;
}
.bottom-QR{
    width: 20%;
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    top: 60px;
    color: white;
    font-size: 18px;
}
.bottom-QR img{
    width: 90%;
}
.search-s{
    width: 10%;
    float: left;
    height: 100%;
    line-height: 100%;
    cursor: pointer;
}
.search-s img{
    width: 75%;
    margin-top: 8px;
    margin-left: 17px;
}
.foodImg_A{
    position: relative;
    top: 1.5px;
}
.userbtn{
    width:175px ;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;

}
.when-landing{
    width:175px ;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    z-index: 99;
}
.usernamenumber{
    height: 57px;
    line-height: 57px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 300;

}
.when-landing-Img{
    width: 30px;
    height: 30px;
}
.user-window{
     width: 80px;
     height: 100px;
     border: 1px solid #f0f0f0;
     margin-left: 55px;
     margin-top: 25px;
     background:#FFFFFF ;
     display: none;
     cursor: pointer;
}
.when-landing:hover .user-window{
    display: block;
}
.user-window ul{
    width: 90%;
    margin: 0 auto;
}
.user-window ul li{
    border-bottom: 1px #f0f0f0 solid;
    color:#666666;
    font-size: 13px;
    height: 33px;
    line-height: 33px;
}
.user-window ul li:nth-child(3){
    border-bottom: none;
}
.when-landing-Img img{
    width: 100%;
    margin-top: 14px;
    border-radius: 50%;
}
.register{
    width: 69px;
    height: 27px;
    border: 1px solid white;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    background: #e7141a;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    cursor: pointer;
}
.Sign-in{
    width: 69px;
    height: 27px;
    border: 1px solid white;
    text-align: center;
    line-height: 27px;
    font-size: 14px;
    background: white;
    color:#313131;
    float: left;
    margin-top: 14px;
    margin-left: 10px;
    cursor: pointer;
}
/*.Sign-in:hover,.register:hover{*/
    /*background: white;*/
    /*color:#313131*/
/*}*/


/*注册弹窗*/
.Headline-register,.slide-verification{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    z-index: 9999;
    font-family: "PingFang SC";!important;
    display: none;
}
.slide-verification{
    display: none;
}
.reg-FraDiv-frame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:440px ;
    height: 610px;
    background: white;
    border-radius: 8px;
    /*display: none;*/
}
.retrieve-password-frame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:440px ;
    height: 615px;
    background: white;
    border-radius: 8px;
    /*display: none;*/
}
.SMSLogin-frame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:440px ;
    height: 470px;
    background: white;
    border-radius: 8px;
    /*display: none;*/
}
.SignFrame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:440px ;
    height: 405px;
    background: white;
    border-radius: 8px;
    /*display: none;*/

}
.registerTitle{
    padding-top: 45px;
    font-size: 23px;
    color: #000000;
}
.reg-FraDiv{
    width: 85%;
    margin: 0 auto;
    height: 100%;
}
.cell-phone-number{
    margin-top: 29px;
}
.cell-phone-number-input,.password input{
    width: 100%;
    height: 52px;
    border: 1px #e7e7e7 solid;
    background:#f3f8fe;
    border-radius: 4px;
    text-indent: 8px;
    font-weight: 300;
    font-size: 16px;

}
.VerificationImg{
    position: absolute;
    left: 93px;
    top: 12.5px;
    width:7%;
}
.VerificationImgBtn{
    margin-top: 20px;
    width: 100%;
    height: 52px;
    border: 1px #e7e7e7 solid;
    background:#f3f8fe;
    border-radius: 4px;
    font-size:16px ;
    text-align: center;
    color: #AAAAAA;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    line-height: 52px;
}
.Verification-Code{
    margin-top: 20px;
    position: relative;
}
.Verification-Code-input{
    width: 219px;
    height: 52px;
    text-indent: 8px;
    color: #AAAAAA;
    font-weight: 300;
    font-size: 16px;
    border: 1px #e7e7e7 solid;
    background:#f3f8fe;
    border-radius: 8px;
}
.Verification-Code-btn,.VerificationFindpassword,.VerificationCodeLogin{
    width: 131px;
    height: 52px;
    color: white;
    text-align: center;
    font-size: 16px;
    line-height: 52px;
    border-radius: 8px;
    background: #0c7ff2;
    border: none;
    position: absolute;
    right: 0;
    top: 2px;
    outline: none;
}
.password{
    margin-top: 20px;
}
.submitBtn{
    width: 100%;
    height: 52px;
    border: 1px #e7e7e7 solid;
    background:#0c7ff2;
    border-radius: 5px;
    text-indent: 8px;
    font-size: 20px;
    text-align: center;
    line-height: 52px;
    color: white;
    margin-top: 47px;
    letter-spacing: 2px;
}
.Sign-in-frame{
    text-align: center;
    width: 100%;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 300;
    color: #AAAAAA;
    cursor: pointer;
}
.SMS-login,.account-login{
    text-align: center;
    width: 100%;
    font-size: 17px;
    margin-top: 10px;
    font-weight: 300;
    color: #AAAAAA;
    cursor: pointer;
}
.guanbi{
    position: absolute;
    right: 25px;
    top: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.guanbi img{
    width: 100%;
}
.reg-newAccount{
    font-size: 14px;
    color: #aaaaaa;
    font-weight: 300;
    margin-left: 30px;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.findPassword{
    font-size: 13px;
    color: #aaaaaa;
    font-weight: 300;
    position: absolute;
    right:33px;
    padding-top: 3px;
    letter-spacing: 1px;
    cursor: pointer;
}
.container {
    width: 440px;
    margin: 100px auto;
}
.pointer-events{
    pointer-events:none;
    background: #aaaaaa!important;
}
.activitsPopupbtn{
    width: 100%;
    height: 100%;
    position: fixed;
    background:rgba(0,0,0,.5);
    z-index: 10001;
    /*display: none;*/
}
.activitsPopupbtnEwm{
    width: 100%;
    height: 100%;
    position: fixed;
    background:rgba(0,0,0,.5);
    z-index: 10001;
    display: none;
}
.Popupbtn,.PopupbtnAcEwm{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius:8px ;

}
.Popupbtn{
    cursor: pointer;
}
.PopupbtnClose,.AcEwmClose{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}



