<h3>{$name}轮播</h3>
<admin:panel >
  <admin:form url="{:U()}" method="post" id="form"  class="m-form-horizontal" >
    
    <admin:formrow title="权重" tip="数值越大越靠前"  >
      <admin:text name="sequence"  value="{$info.sequence}" len="100"   />
    </admin:formrow>
    <admin:formrow title="标题" tip="轮播的标题"  >
      <admin:text name="title"  value="{$info.title}" len="100"   />
    </admin:formrow>
    <admin:formrow title="跳转目标" tip="轮播图点击时跳转的地址" >
       <admin:text name="target"  value="{$info.target}" len="100"   />
    </admin:formrow>
    <admin:formrow title="图片" tip="轮播图地址,尺寸为624*336">
      <admin:text name="path" type="text" value="{$info.path}" len="250" width="medium" />
      <a class="u-btn u-btn-primary u-img-upload" data="path" preview="image-preview" href="javascript:;" >上传</a> 
      <a class="u-btn u-btn-primary" href="javascript:;" id="image-preview">预览</a> 
    </admin:formrow>
	  <admin:formrow title="状态" tip="" >
      <admin:radio name="state"  item="显示,不显示" value="1,2" checked="$info['state']" isset="1" />
    </admin:formrow>
    <admin:formsubmit/>
    <admin:text name="id" type="hidden"  value="{$info.id}"  />
  </admin:form>
</admin:panel>
<script>
Do.ready('base',function(){

  var option={};
  option.returnUrl="{:U('Admin/Banner/index')}";
  $('#form').duxFormPage(option);
    //上传缩略图
  $('#upload').duxFileUpload({
      type: 'jpg,png,gif,bmp',
      complete: function (data) {
          $('#content_image').attr('src', data.url);
      }
  });
});

</script> 

