
<foreach name='columnList' item='vo'>
    <li onclick='window.location.href="/Columns/{$vo.id}"'>
        <div class="NewType-Detail">
            <div class="NewTypeImg" >
                <div class="NewTypeImgBox" >
                    <img src="{$vo.icon}" alt="">
                </div>
            </div>
            <div class="NewTypeText">
                <div class="TextTitle">
                    {$vo.name}
                </div>
                <div class="TextContent">
                    {$vo.desc}
                </div>
                <div class="TextSource" style="color: #8c98a3">
                    <span >{$vo.last_time|format_time='Y/m/d H:i'}</span>
                    <span style="float: right">已阅<span style="font-size: 13px">{$vo.total_views}</span>次</span>
                </div>
            </div>
        </div>
    </li>
</foreach>