
<foreach name='columnList' item='vo'>
    <li onclick='window.location.href="/Columns/{$vo.id}"'>
        <div class="NewType-Detail">
            <div class="NewTypeImg" >
                <div class="NewTypeImgBox" >
                    <img src="{$vo.icon}" alt="">
                </div>
            </div>
            <div class="NewTypeText">
                <div class="TextTitle">
                    {$vo.name}
                </div>
                <div class="TextContent">
                    {$vo.desc}
                </div>
            </div>
        </div>
    </li>
</foreach>