
<foreach name='messageList' item='vo'>
    <li>
        <div class="TuoY">
            <img src="/themes/default/images/TuoY.png" alt="" width="100%">
        </div>
        <div class="KxTime">
            <span>{$vo.time|format_time='H:i'}</span>
        </div>
        <!--内容-->
        <div class="KxConttt">
            <div class="KxConttt_Title">{$vo.title}</div>
            <div class="KxConttt_Text">
                {$vo.content}
            </div>
            <div class="Favorable-BadProfit">
               <span class="badDownGood" data-id='{$vo.id}' data-type='up' id="GOUPID">
                    <img src="/themes/default/images/up.png" alt=""> 利好<span class="count-f">{$vo.up}</span>
                </span>
                <span class="badDownGood redDown" data-id='{$vo.id}' data-type='down'>
                    <img src="/themes/default/images/down.png" alt=""> 利空<span class="count-f">{$vo.down}</span>
                </span>
                <span class="shareKx">
                    <img src="/themes/default/images/fenxiang.png" alt="">
                    分享
                    <span class="QRKX_Code">
                        <img src="/themes/default/images/qrcode_message.png" alt="" id="CodeShare">
                        <div class="WxSyX">
                            <img src="/themes/default/images/WxTxH.png" alt="" id="WxTxH">
                            <span>微信扫一扫</span>
                        </div>
                    </span>
                </span>
            </div>
        </div>
    </li>
</foreach>