.banner{
    width: 100%;
    height: 3.5rem;
    background: url("../images/briefbanner.png")no-repeat center top;
    background-size: 100% 100%;
}

.Ant_Video{
    width: 90%;
    margin: 0 auto;
    background:#ffffff ;
    height:6.3rem ;
    border: 1px silver solid;
    position: relative;
    top: -.85rem;
}
.DeveHistory{
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: -.85rem;
}
.DeveHistory_Title{
    width: 100%;
    text-align: center;
}
.DeveHistory_Title img{
    width: 32%;
}
.Ant_Video_Title{
    width: 100%;
    text-align: center;
}
.Ant_Video_Title img{
    width: 25%;
}
.Ant_Content{
    width: 90%;
    margin: 0 auto;
    text-indent: 2em;
    font-size: .2rem;
    font-weight: 200;
    text-align: justify;
}
.video_box{
    width: 80%;
    margin: 0.3rem auto;
}
.videoTrol{
    width: 100%;
}


.HistoryContent{
    width: 100%;
    margin: .2rem auto 0 auto;
    display: inline-block;
}
.LeftHistory{
    width: 40%;
    float: left;
    height: 100%;
    background: white;
}
.RightHistory{
    width: 40%;
    float: left;
    height: 100%;
}
.CenterHistory{
    width: 20%;
    float: left;
    height: 100%;
}
.cricleTaday{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    line-height: .5rem;
    text-align: center;
    color: white;
    font-size: .17rem;
    background: #2e84fb;
    margin: 0 auto;
}
.CricleLine{
    width: 100%;
}
.LineLeft{
    width: 49%;
    float: left;
}
.LineRight{
    width: 49%;
    float: right;
}
.LineLeft ul{
    width: 100%;
}
.LineRight ul{
    width: 100%;
    margin-top: .75rem;
}

.LineLeft ul li{
    width: 100%;
    height: 3rem;
    border-right: .025rem #2e84fb solid;
    position: relative;
    border-bottom: .025rem #2e84fb solid;
}
.LineLeft ul li:nth-child(1){
    height: 2.3rem;
}
.LineRight ul li{
    width: 100%;
    height: 3rem;
    border-top: .025rem #2e84fb solid;
    position: relative;
}
.yuanquan{
    width: .23rem;
    height: .23rem;
    border-radius: 50%;
    background: white;
    border: .03rem solid #2e84fb;
    display: inline-block;
    position: absolute;
    right: -0.16rem;
    bottom: -0.16rem;
    z-index: 99;
}
.yuanTop{
    width: .23rem;
    height: .23rem;
    border-radius: 50%;
    background: white;
    border: .03rem solid #2e84fb;
    display: inline-block;
    position: absolute;
    left: -0.16rem;
    top: -0.16rem;
    z-index: 99;
}
.HyNrHis{
    font-size: .17rem;
    text-align: right;
}
.RightHistory .HyNrHis{
    text-align:left;
    position: relative;
    top: 2rem;
}
.sdH{
    position: relative;
    top: .2rem;
}
.HyNrHis p:nth-child(1){
    font-size: .205rem;
    color: #2e84fb;
}
.LeftHistory ul{
    margin-top: .65rem;
}
.LeftHistory ul li,.RightHistory ul li{
    width: 100%;
    height: 2.75rem;
    position: relative;
    margin-top: .3rem;
}
.LeftHistoryImg{
    width: 2.1rem;
    height: 1.2rem;
    position: absolute;
    right: 0;
    bottom:0rem;
}
.RightHistory .LeftHistoryImg{
    width: 2.1rem;
    height: 1.2rem;
    position: absolute;
    left: 0;
    top:.4rem;
}
.LeftHistoryImg img{
    width: 100%;
}
.Honor_union{
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: -.81rem;
}
