*{
    padding: 0;
    margin: 0;
}
body{-webkit-touch-callout: none}
.box{
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    font-family: 'PingFang SC','Lantinghei SC','Helvetica Neue',Helvetica,Arial,'Microsoft YaHei',"sans-serif"!important;
    margin: 0 auto;
    overflow: hidden;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
.topMost{
    width: 100%;
    height: 1.1rem;
}
.topLogo{
    width: 55%;
    height: 100%;
    float: left;
    position: relative;
}
.TxImg{
   width: .45rem;
   height: .45rem;
   float: left;
   margin-left: 0rem!important;
   margin-top: .38rem;
}
.TxName{
    font-size: .25rem;
    float: left;
    margin-top: .45rem;
    color: #D40507;
    text-align: center;
    min-width: 1rem;
    margin-left: .1rem;
}
.TxName img{
    float: right;
    position: absolute;
    top: .57rem;
    right: -.3rem;
}
.topLogo img{
    width: 60%;
    position: absolute;
    top: .3rem;
    left: .15rem;
}
.signInTop{
    width: 45%;
    float: right;
    height: 100%;
    text-align: center;
}
.registerbtn{
    height: .4rem;
    width: 1rem;
    border: 2px solid #e7141a;
    border-radius: 2px;
    text-align: center;
    font-size: .23rem;
    color: #e7141a;
    line-height: .42rem;
    font-weight: bold;
}
.signInbtn{
    height: .4rem;
    width: 1rem;
    background: #e7141a;
    border: 2px solid #e7141a;
    color: white;
    border-radius: 2px;
    text-align: center;
    font-size: .23rem;
    font-weight: bold;
    line-height: .42rem;
}
.registerbtn,.signInbtn{
    float: left;
    margin-left: .25rem;
    margin-top: .3rem;
    letter-spacing: 1px
}
/*导航栏*/
.boxNav{
    width: 100%;
    height: .7rem;
    background: #e7141a;
}
.boxNav-ul{
    width: 81%;
    float: left;
    height: 100%;
    margin-left: 4%;
}
.boxNav-ul ul{
    width: 100%;
    height: 100%;
}
.boxNav-ul ul li{
    width: 30%;
    float: left;
    text-align: center;
    height: .7rem;
    line-height: .7rem;
    font-size: .25rem;
    color: white;
}
.boxNav-ul ul li:nth-child(1),.boxNav-ul ul li:nth-child(4){
    width: 20%;
    float: left;
    text-align: center;
    height: .7rem;
    line-height: .7rem;
    font-size: .25rem;
    color: white;
}
.TxImg{
    width: .45rem;
    height: .45rem;
    float: left;
    margin-left: .5rem;
    margin-top: .38rem;
}
.TxName{
    font-size: .25rem;
    float: left;
    margin-top: .45rem;
    color: #D40507;

}
.TxNameFont{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 1.6rem;
}

.navigationBtn{
    width: 15%;
    float: right;
    position: relative;
    display: inline-block;
    height: 100%;
}
.navigationBtn img{
    position: absolute;
    top:0;
    right:0rem;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 30%;
}
.foodNav{
    width: 100%;
    height: 3.1rem;
    background: #242730;
    overflow: hidden;
}
.foodNavbox{
    width: 90%;
    margin: .4rem auto;
}
.contacUs{
    float: left;
    text-align: left;
    color: #FFFFFF;
    width: 50%;
}
.contacTitle{
    font-size: .28rem;
}
.contacUs ul li{
    width: 100%;
    float: left;
    font-size: .18rem;
    margin-top: .2rem;
}
.contacUs ul li img{
    width: 7%;
    position: relative;
    top: .02rem;
}
.focusUs{
    width: 50%;
    float: left;
}
.focusUsbox{
    width: 35%;
    float: right;
    margin-top: .3rem;
}
.focusUsTitle{
    width: 100%;
    text-align: center;
    color:#FFFFFF ;
    font-size: .18rem;
}
.focusUsbox img{
    width: 100%;
}
.RecordNo{
    width: 100%;
    margin: 0.2rem auto 0 auto;
    text-align: center;
    font-size: .16rem;
    color: #FFFFFF;
    position: relative;
    top: .2rem;
}
#Dhl{
    padding-top: .2rem;
    padding-bottom: .2rem;
    position: relative;
    z-index: 1000;
}
#Dhl li{
    width: 100%;
    text-align: center;
    height: .7rem;
    line-height: .7rem;
}
#Dhl li a{
    color: #FFFFFF;
    text-decoration: none;
}

#Dhl{
    width: 30%;
    font-size: .25rem;
    background: black;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 1.78rem;
    display: none;
}


.Headline-register{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    z-index: 9999;
    min-width: 320px;
    max-width: 640px;
    display: none;
}
.reg-FraDiv-frame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:5.5rem;
    height: 7rem;
    background: white;
    border-radius: 8px;
    /*display: none;*/
}
.registerTitle{
    padding-top: .45rem;
    font-size: .3rem;
    color: #000000;
}
.reg-FraDiv{
    width: 85%;
    margin: 0 auto;
    height: 100%;
}
.cell-phone-number{
    display: flex;
    margin-top: .2rem;
}
.cell-phone-number-input,.password input{
    width: 100%;
    height: .7rem;
    border: 1px #e7e7e7 solid;
    background:#f3f8fe;
    border-radius: 4px;
    text-indent: 8px;
    font-weight: 300;
    font-size: .2rem;


}
.Verification-Code{
    margin-top: .20rem;
    position: relative;
    display: flex;
}
.Verification-Code-input{
    width: 65%;
    height: .7rem;
    text-indent:.2rem;
    color: #AAAAAA;
    font-weight: 300;
    font-size: .2rem;
    border: 1px #e7e7e7 solid;
    background:#f3f8fe;
    border-radius: 8px;
}
.Verification-Code-btn,.VerificationFindpassword,.VerificationCodeLogin{
    width: 30%;
    height: .7rem;
    color: white;
    text-align: center;
    font-size: .2rem;
    line-height: .7rem;
    border-radius: 8px;
    background: #0c7ff2;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    outline: none;
}
.password{
    display: flex;
    margin-top: .2rem;
}
.submitBtn{
    width: 100%;
    height: .7rem;
    border: 1px #e7e7e7 solid;
    background:#0c7ff2;
    border-radius: 5px;
    text-indent: 8px;
    font-size: .25rem;
    text-align: center;
    line-height: .5rem;
    color: white;
    letter-spacing: 2px;
}
.Sign-in-frame{
    text-align: center;
    width: 100%;
    font-size:.2rem;
    margin-top: 10px;
    font-weight: 300;
    color: #AAAAAA;
    cursor: pointer;
}
.guanbi{
    position: absolute;
    right: .45rem;
    top: .45rem;
    width: .2rem;
    height: .2rem;
    cursor: pointer;
}
.guanbi img{
    width: 100%;
}
.SignFrame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:5.5rem;
    height: 5rem;
    background: white;
    border-radius: 8px;
    /*display: none;*/
}
.SMS-login,.account-login{
    text-align: center;
    width: 100%;
    font-size: .25rem;
    margin-top: .1rem;
    font-weight: 300;
    color: #AAAAAA;
    cursor: pointer;
}
.reg-newAccount{
    font-size: .2rem;
    color: #aaaaaa;
    font-weight: 300;
    margin-left: .3rem;
    cursor: pointer;
    letter-spacing: 1.5px;
}
.findPassword{
    font-size: .2rem;
    color: #aaaaaa;
    font-weight: 300;
    position: absolute;
    right:.45rem;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top:.1rem;
}
.retrieve-password-frame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:5.5rem;
    height: 7rem;
    background: white;
    border-radius: 8px;
    /*display: none;*/
}
.SMSLogin-frame{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width:5.5rem;
    height: 5rem;
    background: white;
    border-radius: 8px;
    /*display: none;*/
}
/* 焦点图 */
.bannerImg{
    width: 95%;
    margin: 0 auto;
    min-height: 3.5rem;
}
.slideBox{
    position:relative;
    overflow:hidden;
    margin:.2rem auto 0 auto;
    max-width:560px;/* 设置焦点图最大宽度 */
}
.slideBox .hd{
    position: absolute;
    line-height:.3rem;
    bottom:.2rem;
    width: 100%;
    text-align: center;
    z-index:1;
}
.slideBox .hd li{
    display:inline-block;
    width:10px;
    height:10px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    text-indent:-9999px;
    overflow:hidden;
    margin:0 6px;
    background:white;
}
.slideBox .hd li.on{
    background:#e7141a;
    border: none
}
.slideBox .bd{
    position:relative;
    z-index:0;
}
.slideBox .bd li{
    position:relative;
    text-align:center;
}
.slideBox .bd li img{
    vertical-align:top;
    width:100%;/* 图片宽度100%，达到自适应效果 */
}
.slideBox .bd li a{
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 99;
}  /* 去掉链接触摸高亮 */
.slideBox .bd li .tit{
    display:block;
    width:100%;
    position:absolute;
    bottom:0;
    text-indent:10px;
    height:28px;
    line-height:28px;
    color:#fff;
    text-align:left;
}


.Login-successful{
    width:1.25rem ;
    height: 1.25rem;
    z-index: 99;
    position: absolute;
    right: .4rem;
    top: .85rem;
    background: white;
    border: 1px solid #EEEEEE;
    display: none;
}
.Login-successful ul{
    margin-top: .1rem;
}
.Login-successful ul li{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: .5rem;
    border-bottom: 1px #f0f0f0 solid;
    font-size: .2rem;
    line-height: .5rem;
}
#Loginsuccess{
    display: inline-block;
    position: relative;
    top: -.3rem;
}
.active a{
    color: #e7141a!important;
}
.registerbtn,.guanbi,.signInbtn,.reg-newAccount,.findPassword,.Sign-in-frame,.account-login,.SMS-login{
    cursor: pointer;
}
#news_more{
    font-size: .25rem!important;
}

.moreArticles{
    width: 95%;
    background:#eaeaea;
    border-radius: 4px;
    height: .8rem;
    margin: 0 auto;
    position: relative;
    text-align: center;
    line-height: .8rem;
}
.moreArticles span{
    height: .8rem;
    line-height: .8rem;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.moreArticles img{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 3%!important;
}
