.contentDetail{
    width: 90%;
    margin: 0 auto;
}

.contentTitle{
    width:100%;
    margin:0.3rem auto 0 auto;
    font-size: .35rem;
    font-weight: bold;
    text-align: justify;
}
.contentTimeAuthor{
    width: 100%;
    position: relative;
    margin-top: .2rem;
    height: .5rem;
}
.contentTimeAuthor span{
    font-size: .21rem;
    color: #7e7e7e;
}
.contentAuthor,.contentTime{
    width: 2rem;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    margin-right: .2rem;
}
.contentTimeAuthor span:nth-child(3){
    position: absolute;
    right: 0rem;
}
.contentTimeAuthor span:nth-child(3) img{
    width: .28rem;
}
.giagramContent{
    width: 100%;
}
.giagramContent img{
    max-width: 100%;
}
.ContentText{
    font-size: .28rem;
    text-align: justify;
    color: #636363;
    letter-spacing: .5px;
    line-height: 200%;
    font-weight: 300;
}
.contentStatement{
    width: 100%;
    font-size: .25rem;
    color:#bbbbbb;
    text-align: justify;
    letter-spacing: .5px;
    line-height: 180%;
    font-weight: 300;
    margin-top: .2rem;
    padding-bottom: .5rem;
}
.contentStatement p{
    margin-top: .1rem;
}
