.variousArticles{
    width: 100%;
    padding-bottom: .7rem;
    position: relative;
    top: -.8rem;
}
.variousArticles ul {
    width: 100%;
    display: inline-block;
}
.variousArticles ul li:nth-child(1){
    margin-top: 0;
}
.variousArticles ul li{
    width: 95%;
    height: 1.6rem;
    border-bottom: .5px #c8c8c8 solid;
    float: left;
    margin-top: .3rem;
    margin-left: 2.5%;
}
.ArticlesBanner{
    width:34%;
    float: left;
}
.ArticlesBanner img{
    width: 100%;
}
.ArticlesText{
    width: 66%;
    float: left;
    height: 100%;
}
.ArticlesTitle{
    width: 90%;
    float: left;
    margin-left: .2rem;
    font-size: .28rem;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.ArticlesTime{
    width: 95%;
    float: right;
    margin: .24rem auto 0 auto;
    font-size: .22rem;
    color: #AAAAAA;
}
.ArticlesTime span{
    width: 1.2rem;
    /*display: inline-block;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}
.ArticlesTime span:nth-child(1){
    display: inline-block
}
.TimeHa{
    width: 2.3rem!important;
    margin-left: .2rem;
}
.moreArticles{
    width: 95%;
    background:#eaeaea;
    border-radius: 4px;
    height: .8rem;
    margin: 0 auto;
    position: relative;
}
.moreArticles img{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 4%;
}
.zlbanner{
    width: 100%;
    display: inline-block;
}
.zlbanner img{
    width: 100%;
}
.columnTro{
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    background: white;
    min-height:2rem ;
    position: relative;
    top: -1.2rem;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,.2)  ;
}
.columnTroTitle{
    text-align: center;
    width: 90%;
    margin: 0 auto 0 auto;
    font-size: .3rem;
    padding-top: .2rem;
    font-weight: bold;
}
.columnTroText{
    width: 90%;
    margin: 0.2rem auto 0 auto;
    text-align: justify;
    font-size: .25rem;
    padding-bottom: .3rem;
}
.moreArticles span{
    height: .8rem;
    line-height: .8rem;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
}