<h3>用户列表</h3>
<admin:panel>
	<admin:tabletool filter="true" url="/Admin/User/index" keyword="{$pageMaps.keyword}">
		<admin:select name="role" item="==角色==,普通用户,头条作者" value="0,1,2" selected="$pageMaps['role']" />
	</admin:tabletool>

	<admin:table id="table" show="选择|30,编号|30,电话号,昵称,头像,角色,头条编号,简介|180,注册时间,状态|70,是否加V,操作|50">
		<foreach name="list" item="vo">
			<tr>
				<td>
					<input type="checkbox" name="id[]" value="{$vo.id}" />
				</td>
				<td>{$vo.id}</td>
				<td>{$vo.phone}</td>
				<td>{$vo.nickname}</td>
				<td><img src='{$vo.portrait}' style='height:100px'></td>
				<td>
					<if condition="$vo['role'] eq 2">
						头条作者
					<else />
						普通用户
					</if>
				</td>
				<td>{$vo.top_num}</td>
				<td>{$vo.desc}</td>
				<td>{$vo.create_time|date="Y-m-d H:i:s",###}</td>
				<td>
					<if condition="$vo['status'] eq 1">
						<span class="u-badge u-badge-success">正常</span>
						<elseif condition="$vo['status'] eq 2" />
						<span class="u-badge u-badge-danger">未验证</span>
						<elseif condition="$vo['status'] eq 0" />
						<span class="u-badge u-badge-danger">禁止登陆</span>
						<else />
						<span style="color: red;">未定义</span>
					</if>
				</td>
				<td>
					<if condition="$vo['is_v'] eq 2">
						加V
					<else />
						不加V
					</if>
				</td>
                
				<td>
					<a class="u-btn u-btn-primary  u-btn-small" href="{:U('edit',array('id'=>$vo['id']))}">管理</a>
					<!-- <a class="u-btn u-btn  u-btn-small add" href="javascript:;" dataType="2" data="{$vo.id}">+余额</a> -->
				
					<a class="u-btn u-btn-danger  u-btn-small del" href="javascript:;" data="{$vo.id}">删除</a>
				</td>
			</tr>
		</foreach>
	</admin:table>
	<admin:tablefoot action="true" item="删除" value="1" />
</admin:panel>
<script type="text/javascript" charset="utf-8">
	Do.ready('base', function() {
		//移动操作
		$('#selectAction').change(function() {
			var type = $(this).val();
			if (type == 3) {
				$(this).after($('#class_id').clone());
			} else {
				$(this).nextAll('select').hide();
			}
		});
		//表格处理
		$('#table').duxTable({
			actionUrl: "{:U('batchAction')}",
			deleteUrl: "{:U('del')}",
			actionParameter: function() {
				return {
					'class_id': $('#selectAction').next('#class_id').val()
				};
			}
		});
	});

	//余额
	$(function() {
		$('.add').click(function() {
			var mtype = $(this).attr('dataType');
			var uid = $(this).attr('data');
			var o = $(this);
			var type = 2;
			var desc = '系统处理';
			var moeny = prompt("请输入数值！");
			if (moeny) {
				$.post("{:U('Admin/User/sendaccount')}", {
					mtype: mtype,
					type: type,
					moeny: moeny,
					desc: desc,
					uid: uid
				}, function(data) {					
					if (data.status == 1) {
					    o.parents('tr').find('td').eq(6).text(data.money);
					}else{
						alert(data.msg);
					}
				},'json')
			}
		})
	})
</script>