<h3>{$name}用户</h3>
<admin:form url="{:U()}" method="post" id="form">
	<div class="g-main-body">
		<div class=" m-form-horizontal">
			<admin:panel>
				<admin:formrow title="头像" tip=""  >
		          	<admin:text name="portrait" type="text" value="{$info.portrait}" len="250" width="medium" />
		          	<a class="u-btn u-btn-primary u-img-upload" data="portrait" preview="image-preview" href="javascript:;" >上传</a> 
		          	<a class="u-btn u-btn-primary" href="javascript:;" id="image-preview">预览</a> 
		        </admin:formrow>

				<admin:formrow title="手机号" tip="手机号码">
					<admin:text name="phone" value="{$info.phone}" len="20" />
				</admin:formrow>
				<admin:formrow title="昵称" tip="昵称">
					<admin:text name="nickname" value="{$info.nickname}" len="20" />
				</admin:formrow>

				<admin:formrow title="密码" tip="用户密码">
					<admin:text name="password" type="password" value="" len="250" />
				</admin:formrow>
				<admin:formrow title="重复密码" tip="重复密码">
					<admin:text name="repassword" type="password" value="" len="250" />
				</admin:formrow>
				
				<admin:formrow title="角色" tip="">
					<admin:radio name="role" item="普通用户,头条作者" value="1,2" checked="$info['role']" isset="1" />
				</admin:formrow>
				<admin:formrow title="加V" tip="">
					<admin:radio name="is_v" item="否,是" value="1,2" checked="$info['is_v']" isset="1" />
				</admin:formrow>
				<admin:formrow title="简介" tip=""  >
		          <admin:textarea name="desc" rows="5" width="full" >{$info.desc}</admin:textarea>
		        </admin:formrow>

				<admin:formrow title="用户状态" tip="">
					<admin:radio name="status" item="正常,禁用" value="1,0" checked="$info['status']" isset="1" />
				</admin:formrow>
		
				<admin:formsubmit/>
			</admin:panel>
		</div>
	</div>
	<admin:text name="id" type="hidden" value="{$info.id}" />
	<input name="create_time" type="hidden" value='<?php echo time();?>' />
</admin:form>

<script>
	Do.ready('base', function() {
		//表单综合处理
		$('#form').duxFormPage();
		$('#class_id').change();
	});

</script>